{% extends 'movieapp/user_profile3.html' %}
{% load widget_tweaks  %}
{% block title %}Add Artist{% endblock %}

{% block profile-content %}

<div class="row">


        <div class="col-xs-3">
            {% if request.user.is_superuser %}

            <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pending' %}">Pending</a>
                    </li>
                    
            </ul>

            {% else %}

            <ul class="nav nav-tabs">
                    
                    
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'movie' %}">Your Movies</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'artist' %}">Artists</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'lists_view' %}">Your Lists</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_reviews' %}">Your Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movie_add' %}">Add Movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'artist_add' %}">Add Artist</a>
                    </li>
            </ul>

            {% endif %}
        </div>
</div>



<div class="row">

        <div class="col-sm-9 mx-auto ">
                
                <form class="p-3 mt-5 form-horizontal" enctype="multipart/form-data" method="POST">
                        <p class="h1 text-center">Add Artist</p>
                    {% csrf_token %}
                        <fieldset>
                            <div class="control-group">
                                <!-- Username -->
                                <label class="control-label"  for="name">Name</label>
                                <div class="controls">
                                        {% render_field form.name class+="form-control" %}
                                </div>
                            </div>
                            <!-- <div class="form-inline"> -->
                            <div class="form-group row p-3">
                                <!-- <div class="control-group"> -->
                                <!-- Username -->
                                
                                <!-- <div class="controls"> -->
                                    <div class="col-xs-6">
                                        <label class="control-label"  for="artist_type">Occupation</label>
                                        <!-- <select name="artist_type" class="form-control">
                                            <option value="Actor">Actor</option>
                                            <option value="Director">Director</option>
                                        </select> -->
                                        {% render_field form.artist_type class+='form-control' %}
                                    </div>
                                        
                                    <div class="col-xs-6 ml-5">
                                        <label class="control-label" for="birthday">Birthday</label>
                                                {% render_field form.birthday class+="form-control" %}
                                    </div>
                                        
                               
                            </div>
                            <!-- </div> -->
                            
                                                    
                    
                            <div class="control-group">
                            <!-- Password-->
                            <label class="control-label" for="description">Description</label>
                            <div class="controls">
                                    {% render_field form.description class+="form-control" %}
                            </div>
                            </div>
                    
                            <div class="control-group">
                            <!-- Password -->
                            <label class="control-label"  for="image">Poster</label>
                            <div class="controls">
                                    {% render_field form.image  %}
                            </div>
                            </div>
                    
                            <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button class="btn btn-success btn-block">Add Artist</button>
                            </div>
                            </div>
                        </fieldset>
                    </form>
        </div>
    </div>




{% endblock %}