{% extends 'movieapp/base.html' %}
{% load static %}
{% block title %}{{ artist.name }}{% endblock%}
{% block style %}
<link rel="stylesheet" href="{% static 'movieapp/css/movie_view.css'%}">
{% endblock %}

{% block scripts %}
<script type="text/javascript">

function deleteArtist(){

    

    if(confirm('This action will delete the artist.')){
        $.ajax({
        url : "{% url 'artist_delete'%}",
        method : 'get',
        data : {'artist_id':'{{artist.artist_id}}'},
        success : function(retData){
            if(retData['deleted']=== 'deleted'){
                alert("Artist has been deleted");
                location = "{% url 'artist' %}";
            }

        }    });     
    }


}

</script>
{% endblock %}
{% block content %}

<div class="row">
<div class="card p-3">
      <div class="row">
          <div class="col-sm-5">
              <aside>
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            
                                {% if artist.image %}
                                <img class="" src="{{artist.image.url}}" style="margin-left: 15%;margin-top: 2%;max-width: 350px;width:100%;height:auto;">
                                {% else %}
                                    No image provided for artist
                                {% endif %}
                        </div>
                        
                    </article>
                    <!-- gallery-wrap .end// -->
                </aside>
            </div>
          <div class="col-sm-7">

          
          <aside>
              <article class="card-body p-5 m-2">
                  <h2 class="title mb-3">{{ artist.name }}</h2>
  
                  <!-- price-detail-wrap .// -->
                  <!-- <dl class="item-property">
                      <dt>Director</dt>
                      <dd>
                          <p>adfadsfadsfadsf</p>
                      </dd>
                  </dl>
                  <dl class="param param-feature">
                      <dt>Cast</dt>
                      <dd>dfgdfgdfg,dfgdgdgdf,dfgdfgdfg,dfgdfgdf,dfgdgd</dd>
                  </dl> -->
                  <dl class="param param-feature">
                        <dt>Artist Type</dt>
                        <dd>{{ artist.artist_type }}</dd>
                  </dl>
                  <!-- item-property-hor .// -->
                  <dl class="param param-feature">
                      <dt>Birthday</dt>
                      <dd>{{ artist.birthday }}</dd>
                  </dl>
                  <dl class="param param-feature">
                        <dt>Description</dt>
                        <dd>{{ artist.description }}</dd>
                    </dl>                  
                  <dl class="param param-feature">
                    <dt>Movies</dt>
                    <dd>
                        {% if artist.movies %}
                            {% for movie in artist.movies.all %}
                                {% if forloop.last %}
                                    <a href="{% url 'movie_view' movie.movie_id %}">{{movie.name}}</a>
                                {% else %}
                                    <a href="{% url 'movie_view' movie.movie_id %}">{{movie.name}}</a>,
                                {% endif %}

                                
                            {% endfor %}
                        {% else %}
                            No Movie have been added

                        {% endif %}

                    </dd>
                    </dl>
                    <dl class="param param-feature">
                        {% if user.is_superuser or artist.user == user%}
                        <hr>
                        <a class="btn btn-warning" href="{% url 'artist_edit' artist.artist_id %}">Edit Artist</a>
                        <button class="btn btn-danger" onclick="deleteArtist()">Delete Artist</button>
                    {% endif%}
                    </dl>  
                  <!-- item-property-hor .// -->
                  <span style="visibility:hidden">NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN</span>
                           
              </article>

              
              <!-- card-body.// -->
          </aside>
          <!-- col.// -->
        </div>
      </div>
      <!-- row.// -->
      
        
      
  </div>

</div>

{% endblock %}