{% extends 'movieapp/user_profile3.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Movie{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'movieapp/css/newhome.css' %}" >
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
{% endblock %}
{% block profile-content %}

<div class="row">


        <div class="col-xs-3">
            {% if request.user.is_superuser %}

            <ul class="nav nav-tabs">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pending' %}">Pending</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movie' %}">Movies</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link active" href="{% url 'artist' %}">Artists</a>
                    </li>
                    
            </ul>

            {% else %}

            <ul class="nav nav-tabs">
                    
                    
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'movie' %}">Your Movies</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link active" href="{% url 'artist' %}">Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pending' %}">Pending</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'lists_view' %}">Your Lists</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_reviews' %}">Your Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movie_add' %}">Add Movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'artist_add' %}">Add Artist</a>
                    </li>
            </ul>

            {% endif %}
        </div>
</div>





        {% if artists %}
        <!-- <div class="col-xs-9"> -->
            {% for artist in artists %}
                <div class="movie-card"><a href="{% url 'artist_view' artist.artist_id %}">
                {%if artist.image %}
                    {% thumbnail artist.image '200x300' as image %}
                        <div class="movie-header" style="background: url({{image.url}});background-size:100% auto;background-repeat:no-repeat;background-position:center;">
                            <div class="header-icon-container">
                                    
                            </div>
                            
                        </div>
                    {% endthumbnail %}
                {% else %}
                    <div class="movie-header" style="background: url({% static 'movieapp/images/noimage.jpg' %});background-position: center;">
                        <div class="header-icon-container">
                                
                        </div>
                        
                    </div>
                {% endif %}
                <h3 class="movie-title">{{ artist.name }}</h3>
                
                    
                </a>
                </div><!-- movie-card -->
            {% endfor %}

            <div class="pagination pt-5">
                <!-- <div class="row"> -->
                    <div class="col-sm-4">
                            <span>
                                    {% if artists.has_previous %}
                                        <a class="mx-2" href="?page=1">&laquo; first</a>
                                        <a class="mx-2"href="?page={{ artists.previous_page_number  }}">previous</a>
                                    {% endif %}
                                </span>
        
                    </div>
                    <div class="col-sm-4">
        
                            <span class="current">
                                    <a disabled="disabled">Page {{ artists.number }} of {{ artists.paginator.num_pages }}</a>
                                </span>
        
        
                    </div>
                    <div class="col-sm-4">
        
                            <span>
                                    {% if artists.has_next %}
                                    <a class="mx-2" href="?page={{ artists.next_page_number }}">next</a>
                                    <a class="mx-2" href="?page={{ artists.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                                </span>
        
        
                    </div>
        
            </div>




        {% else %}
            <div class="mt-4 mx-auto">
            <p class="h4">You haven't added any artists yet.</p>
        </div>

        {% endif %}
            
        <!-- </div> -->

{% endblock %}