{% extends 'movieapp/user_profile3.html' %}
{% load static %}
{% block title %}Movie{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'movieapp/css/newhome.css' %}" >
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
{% endblock %}
{% block profile-content %}

<div class="row">


        <div class="col-xs-3">
            {% if request.user.is_superuser %}

            <ul class="nav nav-tabs">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pending' %}">Pending</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movie' %}">Movies</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link active" href="{% url 'artist' %}">Artists</a>
                    </li>
                    
            </ul>

            {% else %}

            <ul class="nav nav-tabs">
                    
                    
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'movie' %}">Your Movies</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link active" href="{% url 'artist' %}">Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pending' %}">Pending</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'lists_view' %}">Your Lists</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_reviews' %}">Your Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movie_add' %}">Add Movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'artist_add' %}">Add Artist</a>
                    </li>
            </ul>

            {% endif %}
        </div>
</div>





        {% if artists %}
        <!-- <div class="col-xs-9"> -->
            {% for artist in artists %}
                <div class="movie-card"><a href="{% url 'artist_view' artist.artist_id %}">
                <div class="movie-header" style="{% if artist.image %}background: url({{artist.image.url}});background-size:100% auto;background-repeat:no-repeat;background-position:center;{% else %}background: url({% static 'movieapp/images/noimage.jpg' %});background-position: center; {% endif %}">
                    <div class="header-icon-container">
                            
                    </div>
                    
                </div>
                <h3 class="movie-title">{{ artist.name }}</h3>
                
                    
                </a>
                </div><!-- movie-card -->
            {% endfor %}
        {% else %}
            <div class="mt-4 mx-auto">
            <p class="h4">You haven't added any artists yet.</p>
        </div>

        {% endif %}
            
        <!-- </div> -->

{% endblock %}