{% extends 'movieapp/user_profile2.html' %}
{% load static %}
{% block title %}List - {{ list.name }}{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){

$('#movie_search').keyup(function(){
  $('#mov-result').html('');
  var searchField = $('#movie_search').val();
  var expression = new RegExp(searchField, "i");
  //alert(searchField)
  $.getJSON("{% url 'movie-autocomplete' %}",data="q="+searchField,function(data) {
    //alert(data)
   $.each(JSON.parse(data), function(key, value){
    //alert(value+" -- "+expression);
    
     $('#mov-result').append(`<li class="list-group-item link-class"><img class='m-1' style="width:2em;height:auto;" src="/media/${value.fields.image}"><span class="text-muted">`+value.fields.name+"</span><p hidden='hidden'>"+value.pk+'</p></li>');
    
   });   
  });
 });


 $('#mov-result').on('click', 'li', function() {
  var click_text = $(this).children('span').text();
  //alert(click_text[0]);
  $('#movie_search').val($.trim(click_text));
  var id = $(this).children('p').text();
  //alert(id);
  $("#movie_id").val(id);
  $("#mov-result").html('');
 });


});


var remove_movie = false;
function setRemoveMovieTrue(){
    remove_movie = true;
    $("#exampleModal").modal('hide');
}


function removeMovie(id){
    //alert(id);
    $("#exampleModal").modal();
    $("#exampleModal").on('hidden.bs.modal',function(){

        if(remove_movie){
            remove_movie = false;
            $.ajax({
                url : "{% url 'list_movie_remove' %}",
                method : 'get',
                data : {'list_id':"{{list.id}}",'movie_id':id},
                success : function(retData){
                    if(retData['deleted']==='deleted'){
                        
                        $("#modMsg").text("Movie has been removed from list");
                        $("#messageModal").modal();
                        setTimeout(function(){
                            $("#messageModal").modal('hide');
                            location = "{% url 'list_view' list.id %}";
                        },1000);
                    }
                },
            })
        }

    });
        
    
}
function addMovieToList(btn){
    btn.disabled = true
    list_id = "{{ list.id }}"
    movie_id = $("#movie_id").val()
    $.ajax({
        url : "{% url 'add-movie-to-list' %}",
        method : 'get',
        data : {'list_id':list_id,'movie_id':movie_id},
        success : function(retData){
            if(retData['status']==='added'){
                alert('Movie has been added');
                location.reload();
            }
            if(retData['status']==='present'){
                btn.disabled = false;
                alert('Movie already present');
                
            }
        },
    });
}
function showMovieSearch(btn){
    $("#movie-add").toggle(function(){
        //alert($(btn).text())
        if($(btn).text()== 'Close'){
            $(btn).removeClass('btn-danger');
            $(btn).addClass('btn-primary');
            $(btn).text('Add new movie')
        }
        else {
            $(btn).removeClass('btn-primary');
            $(btn).addClass('btn-danger');
            $(btn).text('Close')
        }
        //alert($(btn))
    });
}

</script>

{% endblock %}

{% block profile-content %}

<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>This action will remove the movie from the list</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="setRemoveMovieTrue()">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="messageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p id="modMsg"></p>
            </div>
        </div>
    </div>
</div>



    
    <div class="row m-3">
            
        <br>
        <br>
        <div class="container p-4">
            {% with list_movies=list.movies.all %}
                <p class="h4">{{ list.name }} - {{ list_movies|length }} movie{{ list_movies|pluralize}} in list</p>
            {% if list.movies %}
                {% for movie in list_movies %}
                    
                         
    <div class="container">
        <div class="shadow my-3 md-5" >
            <div class="row">
                <div class="col-md-2">
                    <a href="{% url 'movie_view' movie.movie_id %}">{% if movie.image %}<img class="search-result-item m-1" src="{{movie.image.url}}"  style="height:7.0rem;width:auto;" >{% endif %}</a>
                </div>
                <div class="col-md-8">
                    <div class="row">

                        <span class="search-result-item">
                            <p class="h3 m-1">
                                <a href="{% url 'movie_view' movie.movie_id %}">{{ movie.name }}({{ movie.release_date.year}})</a>
                            </p>
                        </span>

                    </div>

                    <div class="row">

                        <small class="mt-2">
                            {% with movie_artist_set=movie.artist_set.all %}
                                <div class="m-1 mb-1">
                                    <span class="search-result-sm-text p-1">Directed By: 
                                        {% for c in movie_artist_set %}
                                            {% if c.artist_type == 'Director' %} 
                                                <a href="{% url 'artist_view' c.artist_id %}">{{ c.name }}</a>
                                            {% endif %}
                                        {% endfor %}  
                                    </span>
                                </div>
                                <div class="m-1 mt-1">
                                    <span class="search-result-sm-text p-1">
                                        Cast : 
                                        {% for c in movie_artist_set %}
                                            {% if c.artist_type == 'Actor' %} 
                                                {% if forloop.last %}
                                                <a href="{% url 'artist_view' c.artist_id %}">{{ c.name }}</a>
                                                {% else %}
                                                    <a href="{% url 'artist_view' c.artist_id %}">{{ c.name }}</a>,
                                                {% endif %}
                                                {% endif %}
                                        {% endfor %}
                                    </span><br>
                                    <span class="search-result-sm-text p-1">
                                        Description : 
                                        {{ movie.description }}
                                    </span>
                                </div>
                            {% endwith %}
                        </small>

                    </div>

                </div>
            
                <div class="col-md-2 mr-auto">
                
                    <button class="btn btn-danger float-right p-1" onclick="removeMovie({{movie.movie_id}})"><img style="height:2rem;width:auto;" src="https://cdn1.iconfinder.com/data/icons/round-ui/123/47-512.png"></button>
                    
                </div>                
                
            </div>
        </div>
            
    </div>
        
        

                    
                {% endfor%}
                <div class="row" id="movie-add" style="display:none;">
                    <div class="col-md-3">

                            <p  class="h5">Search for movie </p>
                    </div>
                    <div class="col-md-6">
                        
                            <input id="movie_search" type="text" class="form-control input-lg" autocomplete="off" placeholder="Type a name, select a result and click add">
                            <ul class="list-group" id="mov-result"></ul>
                            <input type="hidden" name="movie-id" id="movie_id" value="">
                        

                    </div>
                    <div class="col-md-3">

                        <input type="button" class="btn btn-primary mt-auto" onclick="addMovieToList(this)" value="Add">
                    </div>
                    
                    
                </div>
                <div class="row">
                <button class="btn btn-primary mx-auto" type="button" onclick="showMovieSearch(this)" >Add new movie</button>
                </div>
            {% else %}
            <p class="h4">This list does not have any movies yet</p>
            {% endif %}
            {% endwith %}
        </div>
        

  </div>






{% endblock%}