{% extends 'movieapp/user_profile2.html' %}
{% load widget_tweaks %}
{% block title %}Create List{% endblock %}
{% block style %}
<style>

.tag {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0 .1em;
  }
  
  .tag a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
  }
  
  .tag a {
    margin: 0 0 0 .3em;
  }
</style>
{% endblock %}
{% block scripts %}

<script>

$(document).ready(function(){
    //$('#artists_hid').val("|");
 $.ajaxSetup({ cache: false });
 $('#artist_search').keyup(function(){
  $('#result').html('');
  $('#state').val('');
  var searchField = $('#artist_search').val();
  var expression = new RegExp(searchField, "i");
  //alert(searchField)
  $.getJSON("{% url 'movie-autocomplete' %}",data="q="+searchField,function(data) {
    //alert(data)
   $.each(JSON.parse(data), function(key, value){
    //alert(value+" -- "+expression);
    
     $('#result').append(`<li class="list-group-item link-class"><img class='m-1' style="width:2em;height:auto;" src="/media/${value.fields.image}"><span class="text-muted">`+value.fields.name+"("+value.pk+")"+'</span></li>');
    
   });   
  });
 });
 
 $('#result').on('click', 'li', function() {
  var click_text = $(this).text();
  //alert(click_text[0]);
  $('#artist_search').val($.trim(click_text));
  
  $("#result").html('');
 });



 





});


function addArtist(){

    var pk = $("#artist_search").val().split('(')[1].split(')')[0];
    var present = false;
    //console.log("hell");
    $(".tag-hidden").each(function(){
        //console.log($(this).val())
        if($(this).val() === pk){
            present = true;
            return ;
        }
        
        });
  //alert("num-->"+pk);
  //var hval = $('#artists_hid').attr('value');
  //alert("val-->"+hval);
  //var hval=hval+pk+"|";
  //$('#artists_hid').val(hval);
  if(present == false){
  var tag = `<div class="tag label label-info m-1"><span>`+$("#artist_search").val().split('(')[0]+`</span><i class="fa fa-times m-1" onclick="deleteArtist(this)"><input class="tag-hidden" name='artist_ids[]' type="hidden" value=`+pk+`></div>`
  $("#tags").append(tag);
  }
  //alert($('#artists_hid').attr('value'));

}

function deleteArtist(elem){
    //alert($(elem).parent());
    $(elem).parent().remove();
}



</script>

{% endblock %}

{% block profile-content%}








    <!-- <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create Movie">
    </form> -->
    <div class="row">

            <div class="col-sm-9 mx-auto ">
                    
                    <form class="p-3 mt-5 form-horizontal" method="POST">
                            <p class="h1 text-center">Create List</p>
                        {% csrf_token %}
                            <fieldset>
                                <div class="control-group">
                                    <!-- Username -->
                                    <label class="control-label"  for="name">Name</label>
                                    <div class="controls">
                                            {% render_field form.name class+="form-control" %}
                                    </div>
                                </div>
                                
                                                           

                                    
                                <label for="artist_search" class="control-label">Add Movies to the list</label>
                                <div class="form-row">
                                    <div class="form-group col-md-8 mt-2">
                                        
                                        <input id="artist_search" class="form-control" autocomplete="off">
                                        <ul class="list-group" id="result"></ul>
                                        <div id="tags" class="m-1">
                                            

                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <button class="btn btn-info" type="button" onclick="addArtist()">Add</button>
                                        <!-- <input type="hidden" name="artists" id="artists_hid" value="|"> -->
                                    </div>
                    
                                </div>
                                                          
                
                                        
                        
                                
                                <div class="controls">
                                    <button class="btn btn-success btn-block">Create List</button>
                                </div>
                                </div>
                            </fieldset>
                        </form>
            </div>
        </div>
{% endblock %}