{% extends 'movieapp/user_profile2.html' %}
{% load widget_tweaks %}
{% block title %}Create List{% endblock %}
{% block style %}
<style>

.tag {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0 .1em;
  }
  
  .tag a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
  }
  
  .tag a {
    margin: 0 0 0 .3em;
  }
</style>
{% endblock %}
{% block scripts %}

<script>

$(document).ready(function(){
    //$('#artists_hid').val("|");
 $.ajaxSetup({ cache: false });
 $('#artist_search').keyup(function(){
  $('#result').html('');
  $('#state').val('');
  var searchField = $('#artist_search').val();
  var expression = new RegExp(searchField, "i");
  //alert(searchField)
  $.getJSON("{% url 'movie-autocomplete' %}",data="q="+searchField,function(data) {
    //alert(data)
   $.each(JSON.parse(data), function(key, value){
    //alert(value+" -- "+expression);
    
     $('#result').append(`<li class="list-group-item link-class"><img class='m-1' style="width:2em;height:auto;" src="/media/${value.fields.image}"><span class="text-muted">`+value.fields.name+"</span><p hidden='hidden'>"+value.pk+"</p>"+'</li>');
    
   });   
  });
 });
 
 $('#result').on('click', 'li', function() {
    var img = $(this).children('img').attr('src');
    console.log($(this).children('img').attr('src'));
    var name = $(this).children('span').text();
    console.log(name)
    var pk = $(this).children('p').text();
    console.log(pk);
    //alert(click_text[0]);
  
  $("#result").html('');
  addArtist(img,name,pk);
  $('#artist_search').val('');
  $('#artist_search').focus();
 });



 





});


function addArtist(img,name,pk){

    var present = false;
    $(".tag-hidden").each(function(){
        if($(this).val() === pk){
            present = true;
            return ;
        }
        
        });

    if(present == false){

    var tag = `<div class="p-1">
                    <img class='m-1' style="width:2em;height:auto;" src="${img}">
                    <span class="text-muted">`+name+`</span>
                    <i class="fa fa-times m-1" onclick="deleteArtist(this)">
                    <input class="tag-hidden" name='movie_ids[]' type="hidden" value=`+pk+`>
                </div>`;
    $("#tags").append(tag);

    }
   
//   if(present == false){
//   var tag = `<div class="tag label label-info m-1"><span>`+$("#artist_search").val().split('(')[0]+`</span><i class="fa fa-times m-1" onclick="deleteArtist(this)"><input class="tag-hidden" name='movie_ids[]' type="hidden" value=`+pk+`></div>`
//   $("#tags").append(tag);
//   }
//   //alert($('#artists_hid').attr('value'));

}

function deleteArtist(elem){
    //alert($(elem).parent());
    $(elem).parent().remove();
}



</script>

{% endblock %}

{% block profile-content%}








    <!-- <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create Movie">
    </form> -->
    <div class="row">

            <div class="col-sm-9 mx-auto ">
                    
                    <form class="p-3 mt-5 form-horizontal" method="POST">
                            <p class="h1 text-center">Create List</p>
                        {% csrf_token %}
                            <fieldset>
                                <div class="control-group mb-3">
                                    <!-- Username -->
                                    <label class="control-label"  for="name">Name</label>
                                    <div class="controls">
                                            {% render_field form.name class+="form-control" %}
                                    </div>
                                </div>
                                
                                                           

                                    
                                <label for="artist_search" class="control-label">Add Movies to the list</label>
                                <div class="form-row">
                                    <div class="form-group col mt-2">
                                        
                                        <input id="artist_search" class="form-control" autocomplete="off" placeholder="Type a movie name and select a result. Multiple movies can be added">
                                        <ul class="list-group" id="result"></ul>
                                        <div id="tags" class="d-flex flex-wrap m-1">
                                            

                                        </div>
                                    </div>
                    
                                </div>
                                                          
                
                                        
                        
                                
                                <div class="controls">
                                    <button class="btn btn-success btn-block">Create List</button>
                                </div>
                                </div>
                            </fieldset>
                        </form>
            </div>
        </div>
{% endblock %}