{% extends 'movieapp/user_profile3.html' %}
{% block title %}User Lists{% endblock %}

{% block scripts %}
<script type="text/javascript">
function deleteList(id){
    //alert(id);
    if(confirm("This action will delete the list ")){
        $.ajax({
            url : "{% url 'list_delete' %}",
            method : 'get',
            data : {'list_id':id},
            success : function(retData){
                if(retData['deleted']==='deleted'){
                    alert("List has been deleted");
                    location = "{% url 'lists_view' %}";
                }
            },
        })
    }
}
</script>


{% endblock %}
{% block profile-content %}

<div class="row mb-5">


        <div class="col-xs-3">
            {% if request.user.is_superuser %}

            <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pending' %}">Pending</a>
                    </li>
                    
            </ul>

            {% else %}

            <ul class="nav nav-tabs">
                    
                    
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'movie' %}">Your Movies</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'artist' %}">Artists</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link active" href="{% url 'lists_view' %}">Your Lists</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_reviews' %}">Your Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movie_add' %}">Add Movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'artist_add' %}">Add Artist</a>
                    </li>
            </ul>

            {% endif %}
        </div>
</div>


{% if lists %}
    {% for list in lists %}

    <div class="row p-3 m-2 border shadow bg-white">
            <div class="container" >

            <div class="row">
                <p class="h4"><a href="{% url 'list_view' list.id %}">{{ list.name }}</a></p>
            </div>
            
            <div class="row">
                    Movies: 
                    <div style="word-wrap: break-word;"><p>{% for movie in list.movies.all %} <a href="{% url 'movie_view' movie.movie_id %}">{{movie.name}}</a>,{% endfor %}</p></div>
                    <br>
                    <hr>
                    <button class="btn btn-danger p-1" onclick="deleteList({{list.id}})">Delete</button>
                </div>
            </div>
        </div>




    {% endfor%}
    {% else %}
        <div class="container mt-4 mx-auto">
            <p class="h4">No Lists Present</p>
        </div>
    
{% endif %}
<div class="container mx-auto text-center">
    
<a class="btn btn-primary" href="{% url 'list_create' %}">Create new list</a>

</div>
{% endblock %}