{% extends 'movieapp/base.html' %}
{% load widget_tweaks %}
{% block title %}Movie Edit{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function(){
        //$('#artists_hid').val("|");
        $.ajaxSetup({ cache: false });
        $('#artist_search').keyup(function(){
        $('#result').html('');
        $('#state').val('');
        var searchField = $('#artist_search').val();
        var expression = new RegExp(searchField, "i");
        //alert(searchField)
        $.getJSON("{% url 'artist-autocomplete' %}",data="q="+searchField,function(data) {
        //alert(data)
        $.each(JSON.parse(data), function(key, value){
        //alert(value+" -- "+expression);
        
            $('#result').append(`<li class="list-group-item link-class"><img class='m-1' style="width:2em;height:auto;" src="/media/${value.fields.image}"><span class="text-muted">`+value.fields.name+"("+value.pk+")"+'</span></li>');
        
        });   
        });
        });
        
        $('#result').on('click', 'li', function() {
        var click_text = $(this).text();
        //alert(click_text[0]);
        $('#artist_search').val($.trim(click_text));
        
        $("#result").html('');
        });
    
    
        $('#director_search').keyup(function(){
        $('#dir-result').html('');
        var searchField = $('#director_search').val();
        var expression = new RegExp(searchField, "i");
        //alert(searchField)
        $.getJSON("{% url 'director-autocomplete' %}",data="q="+searchField,function(data) {
        //alert(data)
        $.each(JSON.parse(data), function(key, value){
        //alert(value+" -- "+expression);
        
            $('#dir-result').append(`<li class="list-group-item link-class"><img class='m-1' style="width:2em;height:auto;" src="/media/${value.fields.image}"><span class="text-muted">`+value.fields.name+"("+value.pk+")"+'</span></li>');
        
        });   
        });
        });
    
    
        $('#dir-result').on('click', 'li', function() {
        var click_text = $(this).text();
        //alert(click_text[0]);
        $('#director_search').val($.trim(click_text));
        var id = click_text.split('(')[1].split(')')[0];
        //alert(id);
        $("#director_id").val(id);
        $("#dir-result").html('');
        });
    
    
    
    
    
    });
    
    
    function addArtist(){
    
        var pk = $("#artist_search").val().split('(')[1].split(')')[0];
        var present = false;
        //console.log("hell");
        $(".tag-hidden").each(function(){
            //console.log($(this).val())
            if($(this).val() === pk){
                present = true;
                return ;
            }
            
            });
        //alert("num-->"+pk);
        //var hval = $('#artists_hid').attr('value');
        //alert("val-->"+hval);
        //var hval=hval+pk+"|";
        //$('#artists_hid').val(hval);
        if(present == false){
        var tag = `<div class="tag label label-info m-1"><span>`+$("#artist_search").val().split('(')[0]+`</span><i class="fa fa-times m-1" onclick="deleteArtist(this)"><input class="tag-hidden" name='artist_ids[]' type="hidden" value=`+pk+`></div>`
        $("#tags").append(tag);
        }
        //alert($('#artists_hid').attr('value'));
    
    }
    
    function deleteArtist(elem){
        //alert($(elem).parent());
        $(elem).parent().remove();
    }
        
        
        
</script>
{% endblock %}





{% block content %}

<div class="row">

        <div class="col-sm-9 mx-auto ">
                
                <form class="p-3 mt-5 form-horizontal" enctype="multipart/form-data" method="POST">
                        <p class="h1 text-center">Edit Movie</p>
                    {% csrf_token %}
                        <fieldset>
                            <div class="control-group">
                                <!-- Username -->
                                <label class="control-label"  for="name">Name</label>
                                <div class="controls">
                                        {% render_field form.name class+="form-control" %}
                                </div>
                            </div>
                            <!-- <div class="form-inline"> -->

                                    <div class="control-group">
                                            <!-- Username -->
                                            <label class="control-label"  for="name">Director</label>
                                            <div class="controls">
                                                <input id="director_search" class="form-control" type="text" value="{{director.name}}" autocomplete="off">
                                                <ul class="list-group" id="dir-result"></ul>
                                                <input type="hidden" name="director-id" id="director_id" value="{{director.artist_id}}">
                                            </div>
                                    </div>                                
    
                                        
                                    <label for="artist_search" class="control-label">Cast</label>
                                    <div class="form-row">
                                        <div class="form-group col-md-8 mt-2">
                                            
                                            <input id="artist_search" class="form-control" autocomplete="off">
                                            <ul class="list-group" id="result"></ul>
                                            <div id="tags" class="m-1">
                                                {% for actor in actors %}

                                                <div class="tag label label-info m-1">
                                                        <span>{{actor.name}}</span>
                                                        <i class="fa fa-times m-1" onclick="deleteArtist(this)"></i>
                                                        <input class="tag-hidden" name='artist_ids[]' type="hidden" value="{{actor.artist_id}}">
                                                </div>         


                                                {% endfor %}
    
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <button class="btn btn-info" type="button" onclick="addArtist()">Add</button>
                                            <!-- <input type="hidden" name="artists" id="artists_hid" value="|"> -->
                                        </div>
                        
                                    </div>





                            <div class="form-group row p-3">
                                <!-- <div class="control-group"> -->
                                <!-- Username -->
                                
                                <!-- <div class="controls"> -->
                                    <div class="col-xs-6">
                                        <label class="control-label"  for="genre">Genre</label>
                                            {% render_field form.genre class+="form-control" %}
                                    </div>
                                        
                                    <div class="col-xs-6 ml-5">
                                        <label class="control-label" for="release_date">Release Date</label>
                                                {% render_field form.release_date class+="form-control" %}
                                    </div>
                                        
                                <!-- </div> -->
                                
                                
                                


                                <!-- </div> -->
                            </div>
                            <!-- </div> -->
                            
                    
                            <div class="control-group">
                            <!-- Password-->
                            <label class="control-label" for="description">Description</label>
                            <div class="controls">
                                    {% render_field form.description class+="form-control" %}
                            </div>
                            </div>
                    
                            <div class="control-group">
                            <!-- Password -->
                            <label class="control-label"  for="image">Poster</label>
                            <div class="controls">
                                    {% render_field form.image %}
                            </div>
                            </div>
                    
                            <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button class="btn btn-success btn-block">Add Movie</button>
                            </div>
                            </div>
                        </fieldset>
                    </form>
        </div>
    </div>

{% endblock %}