{% extends 'movieapp/base.html' %}
{% load widget_tweaks %}
{% block title %}Movie Edit{% endblock %}
{% block content %}

<div class="row">

        <div class="col-sm-9 mx-auto ">
                
                <form class="p-3 mt-5 form-horizontal" enctype="multipart/form-data" method="POST">
                        <p class="h1 text-center">Edit Movie</p>
                    {% csrf_token %}
                        <fieldset>
                            <div class="control-group">
                                <!-- Username -->
                                <label class="control-label"  for="name">Name</label>
                                <div class="controls">
                                        {% render_field form.name class+="form-control" %}
                                </div>
                            </div>
                            <!-- <div class="form-inline"> -->

                                    <div class="control-group">
                                            <!-- Username -->
                                            <label class="control-label"  for="name">Director</label>
                                            <div class="controls">
                                                <input id="director_search" class="form-control" value="{{director.name}}" autocomplete="off">
                                                <ul class="list-group" id="dir-result"></ul>
                                                <input type="hidden" name="director-id" id="director_id" value="{{director.artist_id}}">
                                            </div>
                                    </div>                                
    
                                        
                                    <label for="artist_search" class="control-label">Cast</label>
                                    <div class="form-row">
                                        <div class="form-group col-md-8 mt-2">
                                            
                                            <input id="artist_search" class="form-control" autocomplete="off">
                                            <ul class="list-group" id="result"></ul>
                                            <div id="tags" class="m-1">
                                                {% for actor in actors%}


                                                <div class="tag label label-info m-1">
                                                        <span>{{actor.name}}</span><i class="fa fa-times m-1" onclick="deleteArtist(this)">
                                                        <input class="tag-hidden" name='artist_ids[]' type="hidden" value="{{actor.artist_id}}">
                                                    </div>         


                                                {% endfor %}
    
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <button class="btn btn-info" type="button" onclick="addArtist()">Add</button>
                                            <!-- <input type="hidden" name="artists" id="artists_hid" value="|"> -->
                                        </div>
                        
                                    </div>





                            <div class="form-group row p-3">
                                <!-- <div class="control-group"> -->
                                <!-- Username -->
                                
                                <!-- <div class="controls"> -->
                                    <div class="col-xs-6">
                                        <label class="control-label"  for="genre">Genre</label>
                                            {% render_field form.genre class+="form-control" %}
                                    </div>
                                        
                                    <div class="col-xs-6 ml-5">
                                        <label class="control-label" for="release_date">Release Date</label>
                                                {% render_field form.release_date class+="form-control" %}
                                    </div>
                                        
                                <!-- </div> -->
                                
                                
                                


                                <!-- </div> -->
                            </div>
                            <!-- </div> -->
                            
                    
                            <div class="control-group">
                            <!-- Password-->
                            <label class="control-label" for="description">Description</label>
                            <div class="controls">
                                    {% render_field form.description class+="form-control" %}
                            </div>
                            </div>
                    
                            <div class="control-group">
                            <!-- Password -->
                            <label class="control-label"  for="image">Poster</label>
                            <div class="controls">
                                    {% render_field form.image  %}
                            </div>
                            </div>
                    
                            <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button class="btn btn-success btn-block">Add Movie</button>
                            </div>
                            </div>
                        </fieldset>
                    </form>
        </div>
    </div>

{% endblock %}