{% extends 'movieapp/user_profile3.html' %}
{% load widget_tweaks %}
{% block title %}Add Movie{% endblock %}
{% block style %}
<style>

.tag {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0 .1em;
  }
  
  .tag a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
  }
  
  .tag a {
    margin: 0 0 0 .3em;
  }
</style>
{% endblock %}
{% block scripts %}

<script>

$(document).ready(function(){
    //$('#artists_hid').val("|");
 $.ajaxSetup({ cache: false });
 


 $('#director_search').keyup(function(){
  $('#dir-result').html('');
  var searchField = $('#director_search').val();
  var expression = new RegExp(searchField, "i");
  //alert(searchField)
  $.getJSON("{% url 'director-autocomplete' %}",data="q="+searchField,function(data) {
    //alert(data)
   $.each(JSON.parse(data), function(key, value){
    //alert(value+" -- "+expression);
    
     $('#dir-result').append(`<li class="list-group-item link-class"><img class='m-1' style="width:2em;height:auto;" src="/media/${value.fields.image}"><span class="text-muted">`+value.fields.name+"</span><p hidden='hidden'>"+value.pk+"</p>"+'</li>');
    
   });   
  });
 });


 $('#dir-result').on('click', 'li', function() {
  var id = $(this).children('p').text();
  $('#director_search').val($(this).children('span').text())
  //alert(id);
  $("#director_id").val(id);
  $("#dir-result").html('');
 });



 $('#artist_search').keyup(function(){
  $('#result').html('');
  $('#state').val('');
  var searchField = $('#artist_search').val();
  var expression = new RegExp(searchField, "i");
  //alert(searchField)
  $.getJSON("{% url 'artist-autocomplete' %}",data="q="+searchField,function(data) {
    //alert(data)
   $.each(JSON.parse(data), function(key, value){
    //alert(value+" -- "+expression);
    
     $('#result').append(`<li class="list-group-item link-class"><img class='m-1' style="width:2em;height:auto;" src="/media/${value.fields.image}"><span class="text-muted">`+value.fields.name+"</span><p hidden='hidden'>"+value.pk+"</p>"+'</li>');
    
   });   
  });
 });
 
 $('#result').on('click', 'li', function() {
    var img = $(this).children('img').attr('src');
    console.log($(this).children('img').attr('src'));
    var name = $(this).children('span').text();
    console.log(name)
    var pk = $(this).children('p').text();
    console.log(pk);
    //alert(click_text[0]);
  
  $("#result").html('');
  addArtist(img,name,pk);
  $('#artist_search').val('');
  $('#artist_search').focus();

 });




});


function addArtist(img,name,pk){

    var present = false;
    $(".tag-hidden").each(function(){
        if($(this).val() === pk){
            present = true;
            return ;
        }
        
        });

    if(present == false){

    var tag = `<div class="p-1">
                    <img class='m-1' style="width:2em;height:auto;" src="${img}">
                    <span class="text-muted">`+name+`</span>
                    <i class="fa fa-times m-1" onclick="deleteArtist(this)">
                    <input class="tag-hidden" name='artist_ids[]' type="hidden" value=`+pk+`>
                </div>`;
    $("#tags").append(tag);

    }


}

function deleteArtist(elem){
    //alert($(elem).parent());
    $(elem).parent().remove();
}



</script>

{% endblock %}

{% block profile-content%}

<div class="row">


        <div class="col-xs-3">
            {% if request.user.is_superuser %}

            <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pending' %}">Pending</a>
                    </li>
                    
            </ul>

            {% else %}

            <ul class="nav nav-tabs">
                    
                    
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'movie' %}">Your Movies</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'artist' %}">Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pending' %}">Pending</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'lists_view' %}">Your Lists</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_reviews' %}">Your Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'movie_add' %}">Add Movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'artist_add' %}">Add Artist</a>
                    </li>
            </ul>

            {% endif %}
        </div>
</div>






    <!-- <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create Movie">
    </form> -->
    <div class="row">

            <div class="col-sm-6 mx-auto ">
                    
                    <form class="p-3 mt-5 form-horizontal" enctype="multipart/form-data" method="POST">
                            <p class="h1 text-center">Add Movie</p>
                        {% csrf_token %}
                            <fieldset>
                                <div class="control-group">
                                    <!-- Username -->
                                    <label class="control-label"  for="name">Name</label>
                                    <div class="controls">
                                            {% render_field form.name class+="form-control" %}
                                    </div>
                                    {% if form.name.errors %}

                                        {% for error in form.name.errors %}
                                            <div class="m-1 alert alert-danger">
                                                <small>{{ error|escape }}</small>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <!-- <div class="form-inline"> -->
                                <div class="form-group row p-3">
                                    <!-- <div class="control-group"> -->
                                    <!-- Username -->
                                    <!-- <div class="controls"> -->
                                        <div class="col-sm-6 pl-0">
                                            <label class="control-label"  for="genre">Genre</label>
                                                {% render_field form.genre class+="form-control" %}
                                            {% if form.genre.errors %}

                                                {% for error in form.genre.errors %}
                                                    <div class="m-1 alert alert-danger">
                                                        <small>{{ error|escape }}</small>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                            
                                        <div class="col-sm-6 pr-0">
                                            <label class="control-label" for="release_date">Release Date</label>
                                                    {% render_field form.release_date class+="form-control" %}
                                                {% if form.release_date.errors %}

                                                    {% for error in form.release_date.errors %}
                                                        <div class="m-1 alert alert-danger">
                                                            <small>{{ error|escape }}</small>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                        </div>
                                            
                                    <!-- </div> -->
                                
                                    
                                    


                                    <!-- </div> -->
                                </div>
                                <!-- </div> -->

                                <div class="control-group">
                                        <!-- Username -->
                                        <label class="control-label"  for="name">Director</label>
                                        <div class="controls">
                                            <input id="director_search" class="form-control" autocomplete="off" placeholder="Type a name and select one of the results">
                                            <ul class="list-group" id="dir-result"></ul>
                                            <input type="hidden" name="director-id" id="director_id" value="">
                                        </div>
                                </div>                                

                                    
                                <label for="artist_search" class="control-label">Cast</label>
                                <div class="form-row">
                                    <div class="form-group col mt-2">
                                        
                                        <input id="artist_search" class="form-control" autocomplete="off" placeholder="Type a name and select a result. Multiple artists can be added">
                                        <ul class="list-group" id="result"></ul>
                                        
                                        <div id="tags" class="d-flex flex-wrap m-1">
                                            

                                        </div>
                                    
                                    </div>
                    
                                </div>                      
                
                                        
                        
                                <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="description">Description</label>
                                <div class="controls">
                                        {% render_field form.description class+="form-control" %}
                                </div>
                                {% if form.description.errors %}

                                    {% for error in form.description.errors %}
                                        <div class="m-1 alert alert-danger">
                                            <small>{{ error|escape }}</small>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                </div>
                        
                                <div class="control-group">
                                <!-- Password -->
                                <label class="control-label"  for="image">Poster</label>
                                <div class="controls">
                                        {% render_field form.image  %}
                                </div>
                                {% if form.image.errors %}

                                    {% for error in form.image.errors %}
                                        <div class="m-1 alert alert-danger">
                                            <small>{{ error|escape }}</small>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                </div>
                        
                                <div class="control-group">
                                    {% if form.non_field.errors %}

                                        {% for error in form.non_field_errors %}
                                            <div class="m-1 alert alert-danger">
                                                <small>{{ error|escape }}</small>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                <!-- Button -->
                                <div class="controls">
                                    <button class="btn btn-success btn-block">Add Movie</button>
                                </div>
                                </div>
                            </fieldset>
                        </form>
            </div>
        </div>
{% endblock %}