{% extends 'movieapp/base.html' %}
{% load widget_tweaks %}
{% block title %}Movie Edit{% endblock %}
{% load static %}
{% block scripts %}
<script>

    $(document).ready(function(){
        //$('#artists_hid').val("|");
        $.ajaxSetup({ cache: false });
        
    
    
        $('#director_search').keyup(function(){
        $('#dir-result').html('');
        var searchField = $('#director_search').val();
        var expression = new RegExp(searchField, "i");
        //alert(searchField)
        $.getJSON("{% url 'director-autocomplete' %}",data="q="+searchField,function(data) {
        //alert(data)
        $.each(JSON.parse(data), function(key, value){
        //alert(value+" -- "+expression);
        
            $('#dir-result').append(`<li class="list-group-item link-class"><img class='m-1' style="width:2em;height:auto;" src="/media/${value.fields.image}"><span class="text-muted">`+value.fields.name+"</span><p hidden='hidden'>"+value.pk+"</p>"+'</li>');
        
        });   
        });
        });
    
    
        $('#dir-result').on('click', 'li', function() {
        
        var id = $(this).children('p').text();
        $('#director_search').val($(this).children('span').text())
        //alert(id);
        $("#director_id").val(id);
        $("#dir-result").html('');


        });
    
    

    $('#artist_search').keyup(function(){
        $('#result').html('');
        $('#state').val('');
        var searchField = $('#artist_search').val();
        var expression = new RegExp(searchField, "i");
        //alert(searchField)
        $.getJSON("{% url 'artist-autocomplete' %}",data="q="+searchField,function(data) {
        //alert(data)
        $.each(JSON.parse(data), function(key, value){
        //alert(value+" -- "+expression);
        
            $('#result').append(`<li class="list-group-item link-class"><img class='m-1' style="width:2em;height:auto;" src="/media/${value.fields.image}"><span class="text-muted">`+value.fields.name+"</span><p hidden='hidden'>"+value.pk+"</p>"+'</li>');
        
        });   
        });
        });
        
    $('#result').on('click', 'li', function() {


        var img = $(this).children('img').attr('src');
        console.log($(this).children('img').attr('src'));
        var name = $(this).children('span').text();
        console.log(name)
        var pk = $(this).children('p').text();
        console.log(pk);
        //alert(click_text[0]);
        
        $("#result").html('');
        addArtist(img,name,pk);
        $('#artist_search').val('');
        $('#artist_search').focus();
    
    
    
    });
    });
    
    
function addArtist(img,name,pk){
    
    var present = false;
    //console.log("hell");
    $(".tag-hidden").each(function(){
        //console.log($(this).val())
        if($(this).val() === pk){
            present = true;
            return ;
        }
        
        });

    if(present == false){

    var tag = `<div class="p-1">
                    <img class='m-1' style="width:2em;height:auto;" src="${img}">
                    <span class="text-muted">`+name+`</span>
                    <i class="fa fa-times m-1" onclick="deleteArtist(this)">
                    <input class="tag-hidden" name='artist_ids[]' type="hidden" value=`+pk+`>
                </div>`;
    $("#tags").append(tag);

    }
    
    }
    
    function deleteArtist(elem){
        //alert($(elem).parent());
        $(elem).parent().remove();
    }
        
        
        
</script>
{% endblock %}





{% block content %}

<div class="row">

        <div class="col-sm-9 mx-auto ">
                
                <form class="p-3 mt-5 form-horizontal" enctype="multipart/form-data" method="POST">
                        <p class="h1 text-center">Edit Movie</p>
                    {% csrf_token %}
                        <fieldset>
                            <div class="control-group">
                                <!-- Username -->
                                <label class="control-label"  for="name">Name</label>
                                <div class="controls">
                                        {% render_field form.name class+="form-control" %}
                                </div>
                            </div>



                            <div class="form-group row p-3">
                                <!-- <div class="control-group"> -->
                                <!-- Username -->
                                
                                <!-- <div class="controls"> -->
                                    <div class="col-sm-6 pl-0">
                                        <label class="control-label"  for="genre">Genre</label>
                                            {% render_field form.genre class+="form-control" %}
                                    </div>
                                        
                                    <div class="col-sm-6 pr-0">
                                        <label class="control-label" for="release_date">Release Date</label>
                                                {% render_field form.release_date class+="form-control" %}
                                    </div>
                                        
                                <!-- </div> -->
                                
                                
                                


                                <!-- </div> -->
                            </div>




                            <!-- <div class="form-inline"> -->

                                    <div class="control-group">
                                            <!-- Username -->
                                            <label class="control-label"  for="name">Director</label>
                                            <div class="controls">
                                                <input id="director_search" class="form-control" type="text" value="{{director.name}}" autocomplete="off" placeholder="Type a name and select one of the results">
                                                <ul class="list-group" id="dir-result"></ul>
                                                <input type="hidden" name="director-id" id="director_id" value="{{director.artist_id}}">
                                            </div>
                                    </div>                                
    
                                        
                                    <label for="artist_search" class="control-label">Cast</label>
                                    <div class="form-row">
                                        <div class="form-group col mt-2">
                                            
                                            <input id="artist_search" class="form-control" placeholder="Type a name and select a result. Multiple artists can be added" autocomplete="off">
                                            <ul class="list-group" id="result"></ul>
                                            <div id="tags" class="d-flex flex-wrap m-1">
                                                {% for actor in actors %}

                                                        
                                                <div class="p-1">
                                                    {% if actor.image %}
                                                    <img class='m-1' style="width:2em;height:auto;" src="{{ actor.image.url }}">
                                                    {% else %}
                                                    <img class='m-1' style="width:2em;height:auto;" src="{% static 'movieapp/images/noimage.jpg' %}">
                                                    {% endif %}
                                                    <span class="text-muted">{{ actor.name }}</span>
                                                    <i class="fa fa-times m-1" onclick="deleteArtist(this)"></i>
                                                    <input class="tag-hidden" name='artist_ids[]' type="hidden" value="{{actor.artist_id}}">
                                                </div>

                                                {% endfor %}

                                            </div>
                                        </div>
                                        
                        
                                    </div>


                            <!-- </div> -->
                            
                    
                            <div class="control-group">
                            <!-- Password-->
                            <label class="control-label" for="description">Description</label>
                            <div class="controls">
                                    {% render_field form.description class+="form-control" %}
                            </div>
                            </div>
                    
                            <div class="control-group">
                            <!-- Password -->
                            <label class="control-label"  for="image">Poster</label>
                            <div class="controls">
                                    {% render_field form.image %}
                            </div>
                            </div>
                    
                            <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                               
                                <button class="btn btn-success btn-block">Save Movie</button>
                            </div>
                            </div>
                        </fieldset>
                    </form>
        </div>
    </div>

{% endblock %}