{% extends 'movieapp/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ movie.name }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'movieapp/css/movie_view.css'%}">
{% endblock %}

{% block scripts %}
<script type="text/javascript">
function deleteMovie(){
    if(confirm('This action will delete the movie.')){
            $.ajax({
                url : "{% url 'movie_delete' %}",
                method : 'get',
                data : {'movie_id':"{{ movie.movie_id }}"},
                success: function(retData){
                    if(retData['deleted']==='deleted'){
                        alert('Movie has been deleted ');
                        location = "{% url 'profile' %}";
                    }
                }
            });
    }
    

}
</script>

{% endblock %}
{% block content%}

<div class="row">
<div class="card p-3">
      <div class="row">
          <div class="col-sm-5">
              <aside>
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            
                                {% if movie.image %}
                                <img class="img-responsive fit-image" src="{{movie.image.url}}" style="margin-left: 15%;margin-top: 2%;">
                                {% else %}
                                No image for this movie
                                {% endif%}
                        </div>
                        
                    </article>
                    <!-- gallery-wrap .end// -->
                </aside>
            </div>
          <div class="col-sm-7">

          
          <aside>
              <article class="card-body p-5 m-2">
                  <h2 class="title mb-3">{{ movie.name }}</h2>
  
                  <!-- price-detail-wrap .// -->
                  <!-- <dl class="item-property">
                      <dt>Director</dt>
                      <dd>
                          <p>adfadsfadsfadsf</p>
                      </dd>
                  </dl>
                  <dl class="param param-feature">
                      <dt>Cast</dt>
                      <dd>dfgdfgdfg,dfgdgdgdf,dfgdfgdfg,dfgdfgdf,dfgdgd</dd>
                  </dl> -->
                  <dl class="param param-feature">
                        <dt>Genre</dt>
                        <dd>{{ movie.genre }}</dd>
                  </dl>
                  <!-- item-property-hor .// -->
                  <dl class="param param-feature">
                      <dt>Release Date</dt>
                      <dd>{{ movie.release_date }}</dd>
                  </dl>
                  
                  <dl class="param param-feature">
                        
                        <dt>Director</dt>
                        <dd>
                            {% if director %}
                            <a href="{% url 'artist_view' director.artist_id %}">

                            {{ director.name }}
                        </a>
                            {% else %}
                              No data available
                            {% endif %}
                        </dd>
                       
                    </dl>
                    
                  <dl class="param param-feature">
                    <dt>Cast</dt>
                    <dd>
                        {% if actors %}
                            {% for actor in actors %}
                                {% if forloop.last %}
                                    <a href="{% url 'artist_view' actor.artist_id %}">{{actor.name}}</a>
                                {% else %}
                                    <a href="{% url 'artist_view' actor.artist_id %}">{{actor.name}}</a>,
                                {% endif %}
                            
                            {% endfor %}
                        {% else %}
                            No data available
                        {% endif %}
                        

                    </dd>
                    </dl>
                  <!-- item-property-hor .// -->
                  <dl class="param param-feature">
                      <dt>Description</dt>
                      <dd>{{ movie.description }}</dd>
                  </dl>
                  
                  <!-- item-property-hor .// -->
                    <dl class="param param-feature">
                        <hr>
                        {% if rating_len == 0 %}
                        <p>No ratings yet</p>
                        {% else %}
                        
                        <p>Average rating of <b>{{movie.rating|floatformat:1}}</b> based on {{rating_len}} user{{rating_len|pluralize}}</p>
                        {% if not no_rating and user.is_authenticated %}
                        <small>You have rated this movie</small>
                        {% endif %}
                    </bold>
                        
                        {% endif %}
                     </dl>
                    
                    {% if user.is_authenticated %}
                        {% if not_rated %}
                        
                        <dl class="param param-feature">
                                <dt>Rate this Movie</dt>
                                <dd>
                                    <form id="rate_form" method="post" action="{% url 'rate' movie.movie_id %}">
                                        {% csrf_token %}
                                        <select name='rating' form='rate_form'>
                                            <option value=0>0</option>
                                            <option value=0.5>0.5</option>
                                            <option value=1>1</option>
                                            <option value=1.5>1.5</option>
                                            <option value=2>2</option>
                                            <option value=2.5>2.5</option>
                                            <option value=3>3</option>
                                            <option value=3.5>3.5</option>
                                            <option value=4>4</option>
                                            <option value=4.5>4.5</option>
                                            <option value=5>5</option>
                                        </select>
                                        <input type="submit" value="Rate">
                                    </form>
                                </dd>
                        </dl>
                    {% endif %}    
                    
                    {% else %}
                    <span style="visibility:hidden">NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN</span>
                
                    {% endif %}
                    {% if user.is_superuser or movie.user == user%}
                        <hr>
                        <a class="btn btn-warning p-2" href="{% url 'movie_edit' movie.movie_id %}">Edit Movie<a>
                        <button class="btn btn-danger p-2" onclick="deleteMovie()">Delete Movie</button>
                    {% endif%}
                    
              </article>

              
              <!-- card-body.// -->
          </aside>
          <!-- col.// -->
        </div>
      </div>
      <!-- row.// -->
      
        
      
  </div>

</div>
  <!-- card.// -->

  <div class="row mr-auto mt-4">
        <p class="h4 font-weight-bold">Reviews({{reviews_len}})</p>
        <br>
        <br>
        <div class="container p-4">
            {% if reviews_len == 0%}
                <p>No reviews for {{ movie.name }}</p>
            {% else %}
                {% for review in reviews %}
                    <div class="row p-3 m-2 border shadow bg-white">
                        <div class="container">

                        
                        <div class="row ">
                            <p class="h5">{{ review.user.username }}</p>
                        </div>
                        <div class="row">
                                <span>{{review.review}}</span>
                        </div>
                        </div>
                    </div>
                    
                {% endfor%}
            {% endif %}
        </div>
        

  </div>
  {% if user.is_authenticated %}
<div class="row mr-auto my-3">
    <p class="h4 font-weight-bold">Write a review</p>
    <br>
    <br>
    <div class="container">
        <form method='post' action="{% url 'review' movie.movie_id %}">
            <div class="row">
                {% csrf_token %}
                {% render_field review_form.review class+='form-control' %}
            </div>

            <div class="row">
                <input class="btn btn-info float-right" type="submit" value="Submit">
            </div>
            
        </form>

    </div>
</div>  
{% endif %}





{% endblock %}