{% extends 'movieapp/base.html' %}
{% load static %}
{% block title %}{{ movie.name }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'movieapp/css/movie_view.css'%}">
{% endblock %}

{% block content%}

<div class="card">
      <div class="row">
          <aside class="col-sm-5 border-right">
              <article class="gallery-wrap">
                  <div class="img-big-wrap">
                      <div>
                          <img src="{{ movie.image.url }}" style="margin-left: 15%;margin-top: 2%;">
                      </div>
                  </div>
                  
              </article>
              <!-- gallery-wrap .end// -->
          </aside>
          <aside class="col-sm-7">
              <article class="card-body p-5">
                  <h2 class="title mb-3">{{ movie.name }}</h2>
  
                  <!-- price-detail-wrap .// -->
                  <dl class="item-property">
                      <dt>Director</dt>
                      <dd>
                          <p>adfadsfadsfadsf</p>
                      </dd>
                  </dl>
                  <dl class="param param-feature">
                      <dt>Cast</dt>
                      <dd>dfgdfgdfg,dfgdgdgdf,dfgdfgdfg,dfgdfgdf,dfgdgd</dd>
                  </dl>
                  <dl class="param param-feature">
                        <dt>Genre</dt>
                        <dd>{{ movie.genre }}</dd>
                  </dl>
                  <!-- item-property-hor .// -->
                  <dl class="param param-feature">
                      <dt>Release Date</dt>
                      <dd>{{ movie.release_date }}</dd>
                  </dl>
                  <!-- item-property-hor .// -->
                  <dl class="param param-feature">
                      <dt>Description</dt>
                      <dd>{{ movie.description }}</dd>
                  </dl>
                  <!-- item-property-hor .// -->
                    <dl class="param param-feature">
                        {% if rating_len == 0 %}
                        <p>No rating yet</p>
                        {% else %}
                        
                        <p>Average rating of {{rating.rating__avg|floatformat:1}} based on {{rating_len}} user{{rating_len|pluralize}}</p>
                       
                        
                        
                        {% endif %}
                     </dl>
                    <hr>
                    {% if user.is_authenticated %}
                        {% if not_rated %}
                        <dl class="param param-feature">
                                <dt>Rate Movie</dt>
                                <dd>
                                    <form id="rate_form" method="post" action="{% url 'rate' movie.movie_id %}">
                                        {% csrf_token %}
                                        <select name='rating' form='rate_form'>
                                            <option value=0>0</option>
                                            <option value=0.5>0.5</option>
                                            <option value=1>1</option>
                                            <option value=1.5>1.5</option>
                                            <option value=2>2</option>
                                            <option value=2.5>2.5</option>
                                            <option value=3>3</option>
                                            <option value=3.5>3.5</option>
                                            <option value=4>4</option>
                                            <option value=4.5>4.5</option>
                                            <option value=5>5</option>
                                        </select>
                                        <input type="submit" value="Rate">
                                    </form>
                                </dd>
                        </dl>
                        {% else %}
                        You have rated this movie
                        {% endif %}                        
                    {% endif %}
                    
              </article>

              
              <!-- card-body.// -->
          </aside>
          <!-- col.// -->
      </div>
      <!-- row.// -->
  </div>
  <!-- card.// -->
  
  </div>
  <!--container.//-->



{% endblock %}