{% extends 'movieapp/user_profile2.html' %}

{% block title %}Add Movie{% endblock %}

{% block scripts %}

<script>
    $(function() {
        $( ".datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        // You can put more options here.
    
        });
    });
</script>

{% endblock %}

{% block profile-content%}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create Movie">
    </form>
{% endblock %}