{% extends 'movieapp/user_profile3.html' %}
{% load static %}
{% block title %}Movie{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'movieapp/css/newhome.css' %}" >
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
{% endblock %}
{% block profile-content %}

<div class="row">


        <div>
            {% if request.user.is_superuser %}

            <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pending' %}">Pending</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link active" href="{% url 'movie' %}">Movies</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'artist' %}">Artists</a>
                    </li>
                    
            </ul>

            {% else %}

            <ul class="nav nav-tabs">
                    
                    
                    <li class="nav-item">
                            <a class="nav-link active" href="{% url 'movie' %}">Your Movies</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'artist' %}">Artists</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'lists_view' %}">Your Lists</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_reviews' %}">Your Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movie_add' %}">Add Movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'artist_add' %}">Add Artist</a>
                    </li>
            </ul>

            {% endif %}
        </div>
</div>








        
            {% if movies %}
            {% for movie in movies %}
                <div class="movie-card"><a href="{% url 'movie_view' movie.movie_id %}">
                <div class="movie-header" style="{% if movie.image %}background: url({{movie.image.url}});background-size:cover{% endif %}">
                    <div class="header-icon-container">
                            
                    </div>
                    
                </div>
                <h3 class="movie-title">{{ movie.name }}</h3>
                
                    
                </a>
                </div><!-- movie-card -->
            {% endfor %}
            {% else %}
                <div class="container mt-4 mx-auto">
                    <p class="h4">You haven't added any movies yet.</p>
                </div>
            {% endif %}


{% endblock %}