{% extends 'movieapp/pending.html' %}
{% block pending  %}
{% load static %}
{% load thumbnail %}
{% if pending_art|length != 0 %}
        <div id="tab-artists">
            
            <div class="container">
                <p class="h4">Artists pending for approval.</p>
            </div>
            {% for artist in pending_art %}
                

                <div class="container">
                    
                        <div class="col-md-10">
                            <div class="shadow my-3 md-5" >
                            <div class="row">
                                <div class="col-md-1">
                                    <a href="{% url 'artist_view' artist.artist_id %}">
                                        {% if artist.image %}
                                            {% thumbnail artist.image '80x120' as image %}
                                                <img class="search-result-item m-1" src="{{image.url}}">
                                            {% endthumbnail %}
                                        {% else %}
                                            <img class="search-result-item m-1" src="{% static 'movieapp/images/noimage.jpg' %}"  style="height:7.0rem;width:auto;" >
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-8">
                                    <div class="row">

                                        <span class="search-result-item">
                                            <p class="h3 m-1">
                                                <a href="{% url 'artist_view' artist.artist_id %}">{{ artist.name }}</a>
                                            </p>
                                        </span>

                                    </div>

                                    <div class="row">

                                        <small class="mt-2">
                                            
                                                <div class="m-1 mt-1">
                                                <span class="search-result-sm-text p-1">
                                                    Movies : 
                                                    {% for c in artist.movie_set.all %}
                                                            {% if forloop.last %}
                                                            <a href="{% url 'movie_view' c.movie_id %}">{{ c.name }}</a>
                                                            {% else %}
                                                                <a href="{% url 'movie_view' c.movie_id %}">{{ c.name }}</a>,
                                                            {% endif %}
                                                    {% endfor %}
                                                </span><br>
                                                <span class="search-result-sm-text p-1">
                                                    Description : 
                                                    {{ artist.description }}
                                                </span>
                                                </div>
                                            </small>

                                    </div>

                                </div>
                                
                                <div class="col-md-2">
                                    {% if request.user.is_superuser %}
                                        <div class="row float-right">
                                            <button class="btn btn-link float-right p-1" onclick="approveArtist(this,'{{ artist.artist_id }}')"><img style="height:2rem;width:auto;" src="{% static 'movieapp/images/tick.png' %}"></button>
                                            <button class="btn btn-link p-1 ml-0 mr-4" onclick="deleteArtist(this,'{{ artist.artist_id }}')"><img style="height:1.6rem;width:auto;" src="{% static 'movieapp/images/cross.png' %}"></button>
                                        </div>
                                    {% endif %}
                                </div>  


                                
                            </div>
                        </div>
                        
                        </div>
                        <div class="col-md-2">

                        </div>
                        
                    </div>








            
            {% endfor %}
            <div class="pagination pt-5">
                    <!-- <div class="row"> -->
                        <div class="col-sm-4">
                                <span>
                                        {% if pending_art.has_previous %}
                                            <a class="mx-2" href="?page=1&show_model={{ request.GET.show_model }}&query={{ request.GET.query}}">&laquo; first</a>
                                            <a class="mx-2"href="?page={{ pending_art.previous_page_number  }}&show_model={{ request.GET.show_model }}&query={{ request.GET.query}}">previous</a>
                                        {% endif %}
                                    </span>
            
                        </div>
                        <div class="col-sm-4">
            
                                <span class="current">
                                        <a disabled="disabled">Page {{ pending_art.number }} of {{ pending_art.paginator.num_pages }}</a>
                                    </span>
            
            
                        </div>
                        <div class="col-sm-4">
            
                                <span>
                                        {% if pending_art.has_next %}
                                        <a class="mx-2" href="?page={{ pending_art.next_page_number }}&show_model={{ request.GET.show_model }}&query={{ request.GET.query}}">next</a>
                                        <a class="mx-2" href="?page={{ pending_art.paginator.num_pages }}&show_model={{ request.GET.show_model }}&query={{ request.GET.query}}">last &raquo;</a>
                                    {% endif %}
                                    </span>
            
            
                        </div> 
                </div>
        </div>
        
    
    {% else %}
        <div class="container">
            <p class="h4">No artists pending for approval</p>
        </div>
    {% endif %}

{% endblock %}