{% extends 'movieapp/user_profile3.html' %}
{% load static %}
{% block title %}{{ request.user.username }} - Admin {% endblock %}

{% block scripts%}
    <script type="text/javascript">
    var delete_artist = false;
    var delete_movie = false;
        function approveMovie(bt,mid){
            $(bt).children(".aprv-status").addClass('spinner-border spinner-border-sm')
            $(".btn-link").each(function(index,btn){
                //alert($(this))
                $(this).attr('disabled',true);
            });
            $.ajax({
                url : "{% url 'pending' %}",
                method : 'post',
                data : {'movie_id':mid},
                success : function(retData){
                    if(retData['approved'] === 'true'){
                        //alert(retData['msg']);
                        alert('Movie has been approved');
                        
                        
                        location.reload();
                        
                        
                    }
                    else{
                        alert("Movie Not approved");
                        $(".btn-link").each(function(index,btn){
                            //alert($(this))
                            $(this).attr('disabled',false);
                        });
                    }
                    

                },
            })

        }


        function approveArtist(bt,aid){
            $(bt).children(".aprv-status").addClass('spinner-border spinner-border-sm')
            $(".btn-link").each(function(index,btn){
                //alert($(this))
                $(this).attr('disabled',true);
            });
            $.ajax({
                url : "{% url 'pending' %}",
                method : 'post',
                data : {'artist_id':aid},
                success : function(retData){
                    if(retData['approved'] === 'true'){
                        //alert(retData['msg']);
                        alert('Artist has been approved');
                        
                        
                        location.reload();
                        
                        
                    }
                    else{
                        alert("Artist Not approved");
                    }
                    

                },
            })

        }

function setDeleteMovieTrue(){
    delete_movie = true;
    $("#movieModal").modal('hide');
}

function deleteMovie(btn,mid){
    $("#movieModal").modal();
    $("#movieModal").on('hidden.bs.modal',function(){
        if(delete_movie){
            delete_movie = false;

            $(".btn-link").each(function(index,btn){
                    //alert($(this))
                    $(this).attr('disabled',true);
                });

            $.ajax({
                url : "{% url 'movie_delete' %}",
                method : 'get',
                data : {'movie_id':mid},
                success: function(retData){
                    if(retData['deleted']==='deleted'){
                        $(".btn-link").each(function(index,btn){
                            $(this).attr('disabled',false);
                        });
                        
                        $("#modMsg").text("Movie deleted");
                        $("#messageModal").modal();
                        
                            location.reload();
                        
                    }
                }
            });



        }
    });
            
    
    

}


function setDeleteArtistTrue(){
    delete_artist = true;
    $("#artistModal").modal('hide');
}

function deleteArtist(btn,aid){


    $("#artistModal").modal();
    $("#artistModal").on('hidden.bs.modal',function(){
        if(delete_artist){
            delete_artist = false;

            $(".btn-link").each(function(index,btn){
                //alert($(this))
                $(this).attr('disabled',true);
            });
            $.ajax({
            url : "{% url 'artist_delete' %}",
            method : 'get',
            data : {'artist_id':aid},
            success : function(retData){
                if(retData['deleted']=== 'deleted'){
                    $(".btn-link").each(function(index,btn){
                        //alert($(this))
                        $(this).attr('disabled',false);
                    });
                    $("#modMsg").text("Artist deleted");
                    $("#messageModal").modal();
                    
                    location.reload();
                   
                }

            }    });   


        }
    });
    
          
    


    }




    </script>
{% endblock %}
{% block profile-content %}


<div class="modal" id="movieModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>This action will delete the movie.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="setDeleteMovieTrue()">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="artistModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>This action will delete the artist</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="setDeleteArtistTrue()">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="messageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p id="modMsg"></p>
            </div>
        </div>
    </div>
</div>






<div class="row mb-5">


        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-8">
                    {% if request.user.is_superuser %}
                    
                        <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'pending' %}">Pending</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="{% url 'movie' %}">Movies</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="{% url 'artist' %}">Artists</a>
                                </li>
                                
                        </ul>
                


                    {% else %}            
                        <ul class="nav nav-tabs">
                                
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'movie' %}">Your Movies</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'artist' %}">Artists</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'pending' %}">Pending</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'lists_view' %}">Your Lists</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'user_reviews' %}">Your Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'movie_add' %}">Add Movie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'artist_add' %}">Add Artist</a>
                            </li>
                        </ul>
                    

                    {% endif %}

                </div>



                <div class="col-sm-4">
                    <form class="form-row" method="get">
                            <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <select class="form-control" name="show_model">
                                            {% for category in categories %}
                                            <option value="{{ category.name }}" {% if category.name == selected %}selected="selected"{% endif  %}>{{category.name}}</option>
                                            {% endfor %}
                                            <option value="Movies" {% if 'Movies' == selected %}selected="selected"{% endif  %}>Movies</option>
                                            <option value="Artists" {% if 'Artists' == selected %}selected="selected"{% endif  %}>Artists</option>
                                        </select>
                                    </div>
                                    <input type="text" name='query' class="form-control" placeholder="Enter a name" aria-label="Search Field">
                                    <div class="input-group-append">
                                            <input class="btn btn-primary p-2 my-0 ml-0" type="submit" value="Filter">
                                    </div>
                            </div>
                    </form>
                </div>

            </div>

        </div>
</div>

    <div class="col-xs-9">
            
        
        <div clas="row">
        

        {% block pending %}
        
        {% endblock %}

        </div>

    </div>


{% endblock %}