{% extends 'movieapp/user_profile3.html' %}
{% block title %}Your Reviews{% endblock %}
{% block scripts %}
<script type="text/javascript">
function deleteReview(id){
    if(confirm("This action will delete the review")){
        $.ajax({
            url : "{% url 'review_delete' %}",
            method : 'get',
            data : {'review_id':id},
            success : function(retData){
                if(retData['deleted']==='deleted'){
                    alert("Review has been deleted.");
                    location = "{% url 'user_reviews' %}";
                }
            },
        })
    }
}
</script>
{% endblock %}

{% block profile-content %}

<div class="row">


        <div class="col-xs-3">
            {% if request.user.is_superuser %}

            <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pending' %}">Pending</a>
                    </li>
                    
            </ul>

            {% else %}

            <ul class="nav nav-tabs">
                    
                    
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'movie' %}">Your Movies</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'artist' %}">Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pending' %}">Pending</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'lists_view' %}">Your Lists</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link active" href="{% url 'user_reviews' %}">Your Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movie_add' %}">Add Movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'artist_add' %}">Add Artist</a>
                    </li>
            </ul>

            {% endif %}
        </div>
</div>

<div class="row m-3">
        <br>
        <br>
        <div class="container p-4">
            {% if user_reviews %}
                
                {% for review in user_reviews %}
                    <div class="row p-3 m-2 border shadow bg-white">
                        <div class="container" >

                        <div class="row">
                            <p class="h4">{{ review.movie.name }}</p>
                        </div>
                        
                        <div class="row">
                                <div style="word-wrap: break-word;"><p>{{review.review}}</p></div>
                                <br>
                                <hr>
                                <a class="btn btn-warning p-1" href="{% url 'review_edit' review.id %}">Edit Review</a> <button class="btn btn-danger p-1" onclick="deleteReview({{review.id}})">Delete</button>
                            </div>
                        </div>
                    </div>
                    
                {% endfor%}
                
            {% else %}
            <p class="h4">You haven't reviewed any movie yet</p>
            {% endif %}
        </div>
        

  </div>


{% endblock %}