{% extends 'movieapp/user_profile2.html' %}
{% block title %}Your Reviews{% endblock %}
{% block scripts %}
<script type="text/javascript">
function deleteReview(id){
    if(confirm("This action will delete the review")){
        $.ajax({
            url : "{% url 'review_delete' %}",
            method : 'get',
            data : {'review_id':id},
            success : function(retData){
                if(retData['deleted']==='deleted'){
                    alert("Review has been deleted.");
                    location = "{% url 'user_reviews' %}";
                }
            },
        })
    }
}
</script>
{% endblock %}

{% block profile-content %}

<!-- {% for review in user_reviews %}
    {{review.review}} <a href="{% url 'review_edit' review.id %}">Edit Review</a> <button onclick="deleteReview({{review.id}})">Delete</button><br>
{% endfor %} -->

<div class="row m-3">
        <br>
        <br>
        <div class="container p-4">
            {% if user_reviews %}
                
                {% for review in user_reviews %}
                    <div class="row p-3 m-2 border shadow bg-white">
                        <div class="container" >

                        <div class="row">
                            <p class="h4">{{ review.movie.name }}</p>
                        </div>
                        
                        <div class="row">
                                <div style="word-wrap: break-word;"><p>{{review.review}}</p></div>
                                <br>
                                <hr>
                                <a class="btn btn-warning p-1" href="{% url 'review_edit' review.id %}">Edit Review</a> <button class="btn btn-danger p-1" onclick="deleteReview({{review.id}})">Delete</button>
                            </div>
                        </div>
                    </div>
                    
                {% endfor%}
                
            {% else %}
            <p>No reviews for {{ movie.name }}</p>
            {% endif %}
        </div>
        

  </div>


{% endblock %}