.search-result-div {

    display : flex;
  }

  .search-result-item {
    display : flex;
    flex-direction: column;
  }

  .search-result-sm-text {

    border-radius: 10px;
    border-width: 2px;
    border-style : solid;
    border-color: aliceblue;

  }