.search-result-div {

    display : flex;
    width:40%;
    padding: 5px;
  }

  .search-result-item {
    display : flex;
    flex-direction: column;
  }



  .caret-off::before {
    display: none;
}
.caret-off::after {
    display: none;
}